@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

body::-webkit-scrollbar {
  display: none;
  width: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar,
footer,
.bg-winter {
  background-image: linear-gradient(to right, #4884ee, #06bcfb);
}

.places:hover {
  transform: scale(1.025);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#map:hover > img {
  animation: shake 0.08s;
}

.row::-webkit-scrollbar, .container::-webkit-scrollbar {
  display: none;
}

.front img, .cslide {
  width: 14rem;
  height: 14rem;
}

.cslide {
  opacity: 0;
  position: absolute;
}

.cslide:hover {
  animation: load .3s;
  opacity: 1;
}

@keyframes load {
  0% {
    transform: translateX(-4rem);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
